$font-stack: "Helvetica Neue", sans-serif;

$primary-color: black;
$title-color: #4d4d4d;

$card-background-color: #e6e9ed;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);