@import './variables';
@import './mixins';

body {
    font: 100% $font-stack;
    color: $primary-color;
    main {
        padding-top: 5em;
        padding-bottom: 1em;
    }
    ul {
        padding: 0;
        li {
            list-style: none;
        }
    }
}

.panel-rounded {
    border-radius: 10px;
    background: $panel-background-color;
    border: 2px solid $primary-color;
    padding: 1em;
    width: 100%;
    h2 {
        font-weight: bold;
        color: $title-color;
    }
    hr {
        color: gray;
    }
}

footer {
    bottom: 0;
    width: 100%;
    background-color: #bebdbd;
    padding: 0.5em;
    h5{
        font-weight: 200;
        color: gray;
    }
    h6 {
        font-weight: 100;
        text-align: center;
        color: lightslategrey;
    }
    button.clear {
        float: right;
        font-size: 0.8em;
    }
}