@import './variables';
@import './mixins';

body {
    color: $primary-color;
    font: 100% $font-stack;
    margin-bottom: 6em;
    main {
        padding-top: 5em;
        padding-bottom: 1em;
    }
    ul {
        padding: 0;
        li {
            list-style: none;
        }
    }
    @media (max-width: map-get($grid-breakpoints, lg)) {
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.card-rounded {
    background: $card-background-color;
    border-radius: 10px;
    border: 2px solid $primary-color;
    margin: 2em 2em;
    padding: 1em;
    width: 100%;
    h2 {
        color: $title-color;
        font-weight: bold;
    }
}

footer {
    bottom: 0;
    height: 120px;
    width: 100%;
}


  
  