
<div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic">
      <label ngbButtonLabel class="btn-light" *ngFor="let model of filterModels">
          <input ngbButton type="radio" id="{{model.value}}" (click)="filterByYear(model)" [value]="model"> {{model.name}}
      </label>
</div>
<ul class="movies">
  <li *ngFor="let movie of filteredMovies">
      <div class="card card-rounded">
        <div class="row">
          <mat-card class="col-lg-3">
            <span><img src={{movie.PosterUrl}}></span>
          </mat-card>
          <mat-card class="col-lg-9">
            <h2>{{movie.Title}}</h2>
            <hr>
            <div class="row details-row">
              <mat-card class="col-2">
                <span><button class="btn btn-default btn-rating">{{movie.movieDetails.Rated}}</button></span>
              </mat-card>
              <mat-card class="col-8">
                <span>{{movie.movieDetails.Runtime}}</span>
              </mat-card>
              <mat-card class="col-2">
                <span>{{movie.movieDetails.Released}}</span>
              </mat-card>
            </div>
            <div><span class="movie-plot">{{movie.movieDetails.Plot}}</span></div>
            <br>
            <br>
            <div class="row">
              <a href={{movie.imdbUrl}}><button class="btn btn-warning btn-imdb">View on IMDB</button></a>
            </div>
          </mat-card>
        </div>
      </div>
  </li>
  <br>
</ul>


