<ul class="movies">
  <li *ngFor="let movie of movies">
      <div class="panel panel-primary panel-rounded">
        <div class="row">
          <div class="col-sm-3">
            <span><img src={{movie.PosterUrl}}></span>
          </div>
          <div class="col-sm-9">
            <h2>{{movie.Title}}</h2>
            <hr>
            <div class="row">
              <div class="col-sm-2">
                <span><button class="btn btn-default btn-rating">{{movie.movieDetails.Rated}}</button></span>
              </div>
              <div class="col-sm-8">
                <span>{{movie.movieDetails.Runtime}}</span>
              </div>
              <div class="col-sm-2">
                <span>{{movie.movieDetails.Released}}</span>
              </div>
            </div>
            <br>
            <div><span>{{movie.movieDetails.Plot}}</span></div>
            <br>
            <a href={{movie.ImdbUrl}}><button class="btn btn-warning">View on IMDB</button></a>
          </div>
        </div>
      </div>
  </li>
  <br>
</ul>
